h2 {
  color: darksalmon;
}
a {
  color: rgb(12, 94, 67);
  text-decoration: none;
  background-color: beige;
  padding: 10px 15px 5px 25px;
  margin: 5px;
}

h1 {
  color: red;
  background-color: yellow;
}
input[type="submit"] {
  color: rgb(96, 171, 186);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  border-radius: 5em;
}
